@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0B132B;
  color: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}